body{
    background-color: #000;
}

.navContainer{
    border-bottom: solid 2px #000;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
    
ul li{
    padding: 2rem;

}

ul li:hover{
    background-color: #fff;

}

ul li a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

ul li:hover a{
    color: #000;
    text-decoration: none;

}